ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}

/* 여백을 없애서 네비바가 바짝 붙게만듬 */
body {
    margin: 0;
}

.feed {
    width: 100%;
    border-bottom: solid 1px gray;
}

.data_row {
    width: 100%;
    border-bottom: 1px black;
}

li {
    list-style: none;
    border-bottom: solid 1px gray;
    float: left;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.feed_board {
    margin-top: 60px;
}

.feed_number {
    width: 5%;
}

.feed_title {
    width: 55%;
}

.feed_admin {
    width: 12.5%;
}

.width_set_100 {
    width: 9%;
}

.feed > li {
    height: 50px;
    line-height: 50px;
    background-color: #d3d3d3;
    font-weight: bold;
    border-top: solid 2px black;
    border-right: solid 1px gray;
}

/* 로그인 화면 */

.login_container {
    background-color: #d3d3d3;
    margin-top: 300px;
    margin-left: 35%;
    text-align: center;
    width: 600px;
    height: 300px;
    border: solid 1px black;
    border-radius: 2px;
}

.login_btn {
    background-color: #4B89DC;
    outline: none;
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;: 20px;
    cursor: pointer;
}

/* 상단 네비바 */
.top_navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    position: fixed;
}

.top_navbar_item {
    padding: 15px;
    cursor: pointer;
}

.top_navbar_item:hover {
    background-color: gray;
}

.top_navbar_item > a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#top_navbar_user_nickname {
    margin-right: 0%;
    text-align: center;
    text-decoration: none;
    color: lightcoral;
    font-weight: bold;
}

.top_navbar_item:nth-child(1) {
    margin-right: 150px;
}

.top_navbar_item:nth-child(1) > a {
    color: yellow;
}

/* 글쓰기 화면 */
.content {
    margin-top: 30px;
    margin-left: 30%;
    width: 40%;
    background-color: #f8f8ff;
    padding: 25px;
}

.content_header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.content_middle {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

#content_header_title {
    font-weight: bold;
    font-family: 'malgun gothic';
    font-size: 30px;
}

#content_header_view_cnt {
    font-family: 'malgun gothic';
    font-size: 17px;
    margin-right: 40px;
    padding-top: 30px;
}

#content_middle_admin {
    font-family: 'malgun gothic';
    font-size: 17px;
    margin-right: 30px;
}

#content_middle_upload_date {
    font-family: 'malgun gothic';
    font-size: 17px;
    margin-right: 30px;
}

#content_main {
    font-family: 'malgun gothic';
    font-size: 17px;
    border-bottom: 1px solid black;
}

#content_bottom_like {
    height: 60px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    cursor: pointer;
}